<body xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer-grid">
    <div class="footer-grid">
        <h3>导航栏</h3>
        <ul class="list1">
            <li><a href="index.html">主页</a></li>
            <li><a href="../radio.html">单曲</a></li>
            <li><a href="../browse.html">专辑</a></li>
            <li><a href="../radio.html">MV</a></li>
            <li><a href="../blog.html">直播</a></li>
            <li><a href="../contact.html">博客</a></li>
        </ul>
    </div>
    <div class="footer-grid">
        <h3>友情链接</h3>
        <ul class="list1">
            <li><a href="#" data-toggle="modal" data-target="#myModal5">版主空间</a></li>
            <li><a target="_blank" href="https://y.qq.com/">QQ音乐</a></li>
            <li><a target="_blank" href="http://music.163.com/">网易云音乐</a></li>
            <li><a target="_blank" href="http://www.xiami.com/">虾米音乐</a></li>
            <li><a target="_blank" href="http://www.kugou.com/">酷狗音乐</a></li>
            <li><a target="_blank" href="http://music.baidu.com/">百度音乐</a></li>
            <li><a target="_blank" href="http://www.kuwo.cn/">酷我音乐</a></li>
        </ul>
    </div>
    <div class="footer-grid">
        <h3>帮助中心</h3>
        <ul class="list1">
            <li><a href="../contact.html">用户常见问题</a></li>
            <li><a href="#">文件下载</a></li>
            <li><a href="#">意见收集</a></li>
            <li><a href="../contact.html">联系我们</a></li>
            <li><a href="#">人才招聘</a></li>
            <li><a href="#">联系客服</a></li>
            <li><a href="#">著作权声明</a></li>
        </ul>
    </div>
    <div class="footer-grid">
        <h3>意见反馈</h3>
        <p class="footer_desc">您的意见对我们非常重要,如若对此网站有任何问题，欢迎留下您的邮箱，我们会尽快与你取得联系</p>
        <div class="search_footer">
            <form>
                <input type="text" placeholder="Email...." required=""/>
                <input type="submit" value="提交"/>
            </form>
        </div>
    </div>
    <div class="footer-grid footer-grid_last">
        <h3>关于我们</h3>
        <p class="footer_desc">网站前台页面均来自网络,版权归原作者所有.如有侵权请立即与我们联系,我们将及时处理,联系方式如下:</p>
        <p class="f_text">电话: &nbsp;&nbsp;&nbsp;15230297756</p>
        <p class="email">邮箱 : &nbsp;<span><a href="mailto:314975605@qq.com">314975605@qq.com</a></span></p>
    </div>
    <div class="clearfix"></div>
</div>
</body>