<section  xmlns:th="http://www.thymeleaf.org">
    <!-- header-starts -->
    <div class="header-section"  th:fragment="header">
        <!--toggle button start-->
        <a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
        <!--toggle button end-->
        <!--notification menu start -->
        <div class="menu-right">
            <div class="profile_details">
                <div class="col-md-4 serch-part">
                    <div id="sb-search" class="sb-search">
                        <form action="#" method="post">

                            <input class="sb-search-input" placeholder="Search" type="search" name="search"
                                   id="search"/>
                            <input class="sb-search-submit" type="submit" value=""/>
                            <span class="sb-icon-search"> </span>
                        </form>
                    </div>
                </div>
                <!-- search-scripts -->
                <script th:src="@{/static/index/js/classie.js}"></script>
                <script th:src="@{/static/index/js/uisearch.js}"></script>
                <script>
                    new UISearch(document.getElementById('sb-search'));
                </script>
                <!-- //search-scripts -->
                <!---->
                <div class="col-md-4 player">
                    <div class="audio-player">
                        <audio id="audio-player" controls="controls">
                            <source th:src="@{/static/index/media/Blue Browne.ogg}" type="audio/ogg"></source>
                            <source th:src="@{/static/index/media/Blue Browne.mp3}" type="audio/mpeg"></source>
                            <source th:src="@{/static/index/media/Georgia.ogg}" type="audio/ogg"></source>
                            <source th:src="@{/static/index/media/Georgia.mp3}" type="audio/mpeg"></source>
                        </audio>
                    </div>
                    <!---->
                    <script type="text/javascript">
                        $(function () {
                            $('#audio-player').mediaelementplayer({
                                alwaysShowControls: true,
                                features: ['playpause', 'progress', 'volume'],
                                audioVolume: 'horizontal',
                                iPadUseNativeControls: true,
                                iPhoneUseNativeControls: true,
                                AndroidUseNativeControls: true
                            });
                        });
                    </script>
                    <!--audio-->
                    <link rel="stylesheet" type="text/css" media="all" th:href="@{/static/index/css/audio.css}"/>
                    <script type="text/javascript" th:src="@{/static/index/js/mediaelement-and-player.min.js}"></script>
                    <!---->


                    <!--//-->
                    <ul class="next-top">
                        <li><a class="ar" href="#"> <img th:src="@{/static/index/images/arrow.png}" alt=""/></a></li>
                        <li><a class="ar2" href="#"><img th:src="@{/static/index/images/arrow2.png}" alt=""/></a></li>
                    </ul>
                </div>
                <div th:replace="/index/login :: login"></div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--notification menu end -->
    <!-- //header-ends -->
    <!-- //header-ends -->
</section>